*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/release/

# Project exclude paths
/openCVLibrary/build/
/openCVLibrary/build/intermediates/javac/debug/classes/